ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(139, 139, 139);
    position: sticky;
    top: 0;
    width: 10%;
    }

    li {
    float: right;
    }

    li a {
    display: block;
    color: rgb(19, 192, 57);
    font-size: 24pt;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    }
    li a:hover:not(.active) {
    background-color: rgb(53, 119, 206);
    }
    
    .active {
        background-color: rgb(221, 218, 37);
    }
