ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
    position: sticky;
    top: 0;
    width: 10%;
    }

    li {
    float: right;
    }

    li a {
    display: block;
    color: lightseagreen;
    font-size: 24pt;
    text-align: center;
    padding: 30px 20px;
    text-decoration: none;
    }
    li a:hover:not(.active) {
    background-color: rgb(53, 114, 206);
    }
    .active {
        background-color: rgb(83, 138, 21);
    }